version: "3.9"

services:
  backend:
    build:
      content: .backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata: